exml/exml-compiler/src/test/resources/ext-as/ext.config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="exml:ext.config" xmlns:ec="exml:ext.config" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:exml="http://www.jangaroo.net/exml/0.8" >
  <xs:import namespace="http://www.jangaroo.net/exml/0.8"/>
  <xs:complexType name='ext.config.action'>
        <xs:sequence>
        </xs:sequence>
        <xs:attribute type='exml:Boolean' name='disabled'>
          <xs:annotation>
            <xs:documentation>
              True to disable all components using this action, false to enable them (defaults to false).
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="http://www.jangaroo.net/exml/0.8 exml:untyped" processContents="skip"/>
  </xs:complexType>
  <xs:element name='action' type='ec:ext.config.action'>
  </xs:element>
  <xs:complexType name='ext.config.agridcolumn'>
        <xs:sequence>
        </xs:sequence>
        <xs:anyAttribute namespace="http://www.jangaroo.net/exml/0.8 exml:untyped" processContents="skip"/>
  </xs:complexType>
  <xs:element name='agridcolumn' type='ec:ext.config.agridcolumn'>
  </xs:element>
  <xs:complexType name='ext.config.alayout'>
        <xs:sequence>
        </xs:sequence>
        <xs:anyAttribute namespace="http://www.jangaroo.net/exml/0.8 exml:untyped" processContents="skip"/>
  </xs:complexType>
  <xs:element name='alayout' type='ec:ext.config.alayout'>
  </xs:element>
  <xs:complexType name='ext.config.aplugin'>
        <xs:sequence>
        </xs:sequence>
        <xs:anyAttribute namespace="http://www.jangaroo.net/exml/0.8 exml:untyped" processContents="skip"/>
  </xs:complexType>
  <xs:element name='aplugin' type='ec:ext.config.aplugin'>
  </xs:element>
  <xs:complexType name='ext.config.button'>
        <xs:sequence>
        </xs:sequence>
        <xs:attribute type='exml:String' name='text'>
          <xs:annotation>
            <xs:documentation>
              The text of the label
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="http://www.jangaroo.net/exml/0.8 exml:untyped" processContents="skip"/>
  </xs:complexType>
  <xs:element name='button' type='ec:ext.config.button'>
  </xs:element>
  <xs:complexType name='ext.config.component'>
        <xs:sequence>
            <xs:element name='baseAction' minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  The action @see Action
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name='margins' minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type='exml:String' name='id'>
          <xs:annotation>
            <xs:documentation>
              Id of the component
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type='exml:Number' name='x'>
          <xs:annotation>
            <xs:documentation>
              the x value
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type='exml:String' name='baseAction'>
          <xs:annotation>
            <xs:documentation>
              The action @see Action
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type='exml:String' name='margins'>
        </xs:attribute>
        <xs:anyAttribute namespace="http://www.jangaroo.net/exml/0.8 exml:untyped" processContents="skip"/>
  </xs:complexType>
  <xs:element name='component' type='ec:ext.config.component'>
  </xs:element>
  <xs:complexType name='ext.config.container'>
        <xs:sequence>
            <xs:element name='defaults' minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  defaults for children
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name='items' minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  this container's children
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                </xs:sequence>
                <xs:attribute name="mode" type="exml:configMode"/>
              </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type='exml:String' name='defaults'>
          <xs:annotation>
            <xs:documentation>
              defaults for children
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type='exml:String' name='items'>
          <xs:annotation>
            <xs:documentation>
              this container's children
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="http://www.jangaroo.net/exml/0.8 exml:untyped" processContents="skip"/>
  </xs:complexType>
  <xs:element name='container' type='ec:ext.config.container'>
  </xs:element>
  <xs:complexType name='ext.config.label'>
        <xs:sequence>
        </xs:sequence>
        <xs:attribute type='exml:String' name='text'>
          <xs:annotation>
            <xs:documentation>
              The text of the label
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="http://www.jangaroo.net/exml/0.8 exml:untyped" processContents="skip"/>
  </xs:complexType>
  <xs:element name='label' type='ec:ext.config.label'>
  </xs:element>
  <xs:complexType name='ext.config.menuitem'>
        <xs:sequence>
        </xs:sequence>
        <xs:attribute type='exml:String' name='text'>
          <xs:annotation>
            <xs:documentation>
              The text of the label
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="http://www.jangaroo.net/exml/0.8 exml:untyped" processContents="skip"/>
  </xs:complexType>
  <xs:element name='menuitem' type='ec:ext.config.menuitem'>
  </xs:element>
  <xs:complexType name='ext.config.panel'>
    <xs:complexContent>
      <xs:extension base='ec:ext.config.component'>
        <xs:sequence>
            <xs:element name='items' minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  List of child items
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                </xs:sequence>
                <xs:attribute name="mode" type="exml:configMode"/>
              </xs:complexType>
            </xs:element>
            <xs:element name='tools' minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  List of tools
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                </xs:sequence>
                <xs:attribute name="mode" type="exml:configMode"/>
              </xs:complexType>
            </xs:element>
            <xs:element name='menu' minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  List of child items
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                </xs:sequence>
                <xs:attribute name="mode" type="exml:configMode"/>
              </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type='exml:String' name='items'>
          <xs:annotation>
            <xs:documentation>
              List of child items
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type='exml:String' name='tools'>
          <xs:annotation>
            <xs:documentation>
              List of tools
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type='exml:String' name='menu'>
          <xs:annotation>
            <xs:documentation>
              List of child items
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type='exml:Boolean' name='visible'>
          <xs:annotation>
            <xs:documentation>
              visible
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="http://www.jangaroo.net/exml/0.8 exml:untyped" processContents="skip"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='panel' type='ec:ext.config.panel' substitutionGroup='ec:component'>
  </xs:element>
  <xs:complexType name='ext.config.plugin'>
        <xs:sequence>
        </xs:sequence>
        <xs:anyAttribute namespace="http://www.jangaroo.net/exml/0.8 exml:untyped" processContents="skip"/>
  </xs:complexType>
  <xs:element name='plugin' type='ec:ext.config.plugin'>
  </xs:element>
</xs:schema>