jangaroo-tools-api/exml-compiler-api/src/main/resources/net/jangaroo/exml/schemas/exml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://www.jangaroo.net/exml/0.8"
           version="0.8"
           xmlns:exml="http://www.jangaroo.net/exml/0.8"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="expression">
    <xs:restriction base="xs:string">
      <xs:pattern value="\{.*\}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="String">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="Boolean">
    <xs:union memberTypes="xs:boolean exml:expression"/>
  </xs:simpleType>

  <xs:simpleType name="Number">
    <xs:union memberTypes="xs:float exml:expression"/>
  </xs:simpleType>

  <xs:simpleType name="int">
    <xs:union memberTypes="xs:int exml:expression"/>
  </xs:simpleType>

  <xs:simpleType name="uint">
    <xs:union memberTypes="xs:unsignedInt exml:expression"/>
  </xs:simpleType>

  <xs:simpleType name="Date">
     <xs:restriction base="exml:expression"/>
       <!-- TODO: Currently, only expressions are allowed. Do we want support for date literals? Which format? -->
  </xs:simpleType>

  <xs:simpleType name="identifier">
     <xs:restriction base="xs:string">
        <xs:pattern value="[a-zA-Z][a-zA-Z0-9]*(_[a-zA-Z0-9]+)*"/>
     </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="publicApiMode">
     <xs:restriction base="xs:string">
        <xs:enumeration value="false"/>
        <xs:enumeration value="config"/>
        <xs:enumeration value="true"/>
     </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="annotationAt">
    <xs:restriction base="xs:string">
       <xs:enumeration value="config"/>
       <xs:enumeration value="target"/>
       <xs:enumeration value="both"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="cfg">
    <xs:annotation>
      <xs:documentation>
        An additional config property of this EXML class. The newly created property can
        be used with binding in other properties of components, e.g. <i><b>{config.&lt;name of the property>}</b></i>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The description of the config property. optional.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="default" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The optional default value of the config property.
            Specify either this attribute or a nested &lt;exml:default&gt; element, not both.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="1" namespace="##other" processContents="strict"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="exml:identifier" use="required">
      <xs:annotation>
        <xs:documentation>
          The name of the config property.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The type of the config property.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="default" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          The optional default value of the config property.
          Specify either this element or the "default" attribute, not both.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="import">
    <xs:annotation>
      <xs:documentation>
        Imports the specified class into the EXML class. This is necessary when using third-party classes inside code blocks like event handlers. 
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="class" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="annotation">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="at" type="exml:annotationAt">
          <xs:annotation>
            <xs:documentation>
              <p>Defines in which of the two generated classes the given annotation will be included.
                Possible values are <code>config</code>, <code>target</code>, or <code>both</code>, where
                <code>both</code> is the default if no <code>at</code> attribute is given.</p>
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="declaration">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The description of the constant or variable (optional).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The value of the constant or variable.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="exml:identifier" use="required">
      <xs:annotation>
        <xs:documentation>
          <p>The name of the constant or variable.</p>
          <p>Only letters, numbers and '_' are allowed (Pattern: [a-zA-Z][a-zA-Z0-9]*(_[a-zA-Z0-9]+)*).</p>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The value of the constant or variable.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          The type of the constant or variable. If no type is given, like for untyped config properties,
          it will be guessed from the value. If it cannot be guessed (e.g. because the
          value is an expression), '*' will be used.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="object">
    <xs:annotation>
      <xs:documentation>
        Creates an anonymous object. Either with attributes or with JSON as text node.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:anyAttribute processContents="skip"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="rootElement">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="annotation" type="exml:annotation">
          <xs:annotation>
            <xs:documentation>
              Defines an annotation used for the generated config class, target class, or both.
              The text content of this element is surrounded by square brackets.
              Example: <code>&lt;exml:annotation at="target">Deprecated&lt;exml:annotation></code>
              would add the annotation <code>[Deprecated]</code> to the target class only.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="import" type="exml:import"/>
        <xs:element name="constant" type="exml:declaration">
          <xs:annotation>
            <xs:documentation>
              Defines a static constant that can e.g. be used for itemIds.
              The constant is defined in the generated config class and (as an alias for direct access
              in the target class code) in the generated target class.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="cfg" type="exml:cfg"/>
        <xs:element name="description" type="xs:string">
          <xs:annotation>
            <xs:documentation>
              The description of the new EXML class (optional).
              The description is complemented by text referring from the config class to the target class
              and vice versa. If the description contains <code>@see</code> or other ASDoc tags, these
              are added after the auto-generated documentation.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="var" type="exml:declaration">
          <xs:annotation>
            <xs:documentation>
              Defines a local variable that can be used to refactor expressions that occur multiple times.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:any minOccurs="0" maxOccurs="1" namespace="##other" processContents="strict"/>

    </xs:sequence>
    <xs:attribute name="baseClass" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <p>The name of the base class of this EXML class. <b>The base class must be compatible with the config class of this EXML class.</b></p>
          <p>If the name is not full qualified, either the class has to be imported or the class is assumed to be in the same
          package.</p>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="publicApi" type="exml:publicApiMode">
      <xs:annotation>
        <xs:documentation>
          <p>Defines the public API status of the generated classes. If <code>true</code>, both the config
            class and the target class are public API. If <code>config</code>, the config class is public API, but the
            target class is excluded. If <code>false</code> (default), neither the config class nor the target class
            are marked as public API.</p>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="component" type="exml:rootElement">
    <!-- make constant names unique -->
    <xs:unique name="constant_name">
      <xs:selector xpath="exml:constant" />
      <xs:field    xpath="@name" />
    </xs:unique>
    <!-- make config names unique -->
    <xs:unique name="cfg_name">
      <xs:selector xpath="exml:cfg" />
      <xs:field    xpath="@name" />
    </xs:unique>
    <!-- make var names unique -->
    <xs:unique name="var_name">
      <xs:selector xpath="exml:var" />
      <xs:field    xpath="@name" />
    </xs:unique>
  </xs:element>

  <xs:element name="plugin" type="exml:rootElement">
    <!-- make constant names unique -->
    <xs:unique name="constant_name_plugin">
      <xs:selector xpath="exml:constant" />
      <xs:field    xpath="@name" />
    </xs:unique>
    <!-- make config names unique -->
    <xs:unique name="cfg_name_plugin">
      <xs:selector xpath="exml:cfg" />
      <xs:field    xpath="@name" />
    </xs:unique>
    <!-- make var names unique -->
    <xs:unique name="var_name_plugin">
      <xs:selector xpath="exml:var" />
      <xs:field    xpath="@name" />
    </xs:unique>
  </xs:element>

  <xs:element name="layout" type="exml:rootElement">
    <!-- make constant names unique -->
    <xs:unique name="constant_name_layout">
      <xs:selector xpath="exml:constant" />
      <xs:field    xpath="@name" />
    </xs:unique>
    <!-- make config names unique -->
    <xs:unique name="cfg_name_layout">
      <xs:selector xpath="exml:cfg" />
      <xs:field    xpath="@name" />
    </xs:unique>
    <!-- make var names unique -->
    <xs:unique name="var_name_layout">
      <xs:selector xpath="exml:var" />
      <xs:field    xpath="@name" />
    </xs:unique>
  </xs:element>

  <xs:element name="gridColumn" type="exml:rootElement">
    <!-- make constant names unique -->
    <xs:unique name="constant_name_gridColumn">
      <xs:selector xpath="exml:constant" />
      <xs:field    xpath="@name" />
    </xs:unique>
    <!-- make config names unique -->
    <xs:unique name="cfg_name_gridColumn">
      <xs:selector xpath="exml:cfg" />
      <xs:field    xpath="@name" />
    </xs:unique>
    <!-- make var names unique -->
    <xs:unique name="var_name_gridColumn">
      <xs:selector xpath="exml:var" />
      <xs:field    xpath="@name" />
    </xs:unique>
  </xs:element>

  <xs:element name="class" type="exml:rootElement">
    <!-- make constant names unique -->
    <xs:unique name="constant_name_class">
      <xs:selector xpath="exml:constant" />
      <xs:field    xpath="@name" />
    </xs:unique>
    <!-- make config names unique -->
    <xs:unique name="cfg_name_class">
      <xs:selector xpath="exml:cfg" />
      <xs:field    xpath="@name" />
    </xs:unique>
    <!-- make var names unique -->
    <xs:unique name="var_name_class">
      <xs:selector xpath="exml:var" />
      <xs:field    xpath="@name" />
    </xs:unique>
  </xs:element>

  <xs:element name="object" type="exml:object"/>

  <xs:simpleType name="configMode">
    <xs:annotation>
      <xs:documentation>
        Defines the mode how to apply the given config property value to the
        default value. Applicable values are <code>replace</code> (default)
        to completely replace the default value, <code>append</code> to concatenate
        the default value with the given list or element, and <code>prepend</code>
        to concatenate the given list or element with the default value.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
       <xs:enumeration value="replace"/>
       <xs:enumeration value="append"/>
       <xs:enumeration value="prepend"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="base">
    <xs:sequence>
      <xs:element name="mixins" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This element contains additional config objects that are mixed into 
            (merged with) the base config object.
            <br/>
            It is neither recommended to define the same property in the base config object
            as well as in a mixin nor to define the same property in more than one mixin. 
            However, when a property is defined multiple times, the base config object has
            precedence over mixins, and a mixin has precedence over following mixins.
            <br/>
            It is recommended to use a typed mixin config object in favor of using
            attributes with namespace exml:untyped.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
