jangaroo-core/ext-xml/src/test/resources/schemas/ext3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://extjs.com/ext3"
           xmlns:ext="http://extjs.com/ext3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name='ext.Component'>
  </xs:complexType>
  <xs:element name='component' type='ext:ext.Component'>
  </xs:element>
  <xs:complexType name='ext.Container'>

    <xs:all>
      <xs:element name='items' minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
          </xs:sequence>
          <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name='ext.BoxComponent'>

  </xs:complexType>
  <xs:element name='box' type='ext:ext.BoxComponent'>
  </xs:element>
  <xs:element name='container' type='ext:ext.Container'>
  </xs:element>
</xs:schema>